<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--ES地址端口配置 Start-->
    <!--Ubuntu虚拟机配置-->
    <add key="esUrl" value="http://192.168.155.221"/>
    <add key="esPort" value="9200"/>
    <!--本地Windows配置-->
    <add key="esLocalUrl" value="http://localhost"/>
    <add key="esLocalPort" value="9200"/>
    <!--ES地址端口配置 End-->
  </appSettings>
</configuration>