<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--redis相关配置-->
    <add key="redisServer" value="192.168.56.101"/>
    <add key="redisPort" value="6379"/>
    <add key="maxActive" value="100"/>
    <add key="maxIdle" value="20"/>
    <add key="maxWait" value="3000"/>
  </appSettings>
</configuration>